/* Common less variables
-----------------------------------------------------------*/
/* Common less mixins
-----------------------------------------------------------*/
.base-font {
  font-family: Arial, "Segoe UI", Verdana, Helvetica, Sans-Serif;
  font-size: 14px;
  color: #232323;
}
/* Common styles
-----------------------------------------------------------*/
body {
  font-family: Arial, "Segoe UI", Verdana, Helvetica, Sans-Serif;
  font-size: 14px;
  color: #232323;
  overflow: hidden;
}
.view {
  /*position: relative;*/

  display: none;
}
.active-view {
  display: inline;
}
/* busy indicator */
.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1) url(../images/ajax-loader-5.gif) 50% 50% no-repeat;
  cursor: wait;
}
/* end - busy indicator */
/* validation style */
label.valid {
  width: 24px;
  height: 24px;
  background: url(../images/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
/* end - validation style */
/* page layout
-----------------------------------------------------------*/
div#top {
  background-color: #445566;
  height: 40px;
  line-height: 40px;
}
div#left {
  position: absolute;
  top: 40px;
  right: auto;
  bottom: 0px;
  left: 0px;
  width: 30px;
  background-color: #778899;
}
div#titles {
  position: absolute;
  top: 40px;
  right: auto;
  bottom: 0;
  left: 30px;
  width: 200px;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 5px 1px #888888;
  -moz-box-shadow: inset 0px 0px 5px 1px #888888;
  box-shadow: inset 0px 0px 5px 1px #888888;
  overflow-y: auto;
}
div#main {
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 230px;
  background-color: #ffffff;
  overflow-y: auto;
  padding: 5px;
}
div#top ul {
  margin: 0px;
}
div#top ul li {
  float: left;
  width: 100px;
  list-style: none;
}
div#top ul li a {
  color: #fff;
  text-decoration: none;
}
div#top ul label {
  color: #000;
}
#titles-div ul,
#titles-div li {
  margin: 0;
  padding: 0;
}
#titles-div ul {
  list-style: none;
}
#titles-div li {
  height: 100px;
  border: 0px solid;
  margin: 10px;
  background: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-box-shadow: inset 0 0 5px #888888;
  -moz-box-shadow: inset 0 0 5px #888888;
  box-shadow: inset 0 0 5px #888888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#titles-div li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #999;
}
h2 {
  font-size: 40px;
  color: gray;
}
/*section.view label {*/
/*display: block;*/
/*}*/input[type=text] {
  font-size: 20px;
  color: #710909;
}
input[type=button] {
  color: black;
}
.hello {
  font-size: 30px;
  color: yellow;
}
