<section id="section-post-detail" class="view">
    <div class="page-header">
        <h3>How to change background color?</h3>
    </div>
    <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.<br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
    </div>
    <div class="time-created">
        <i class="icon-time"></i>&nbsp;Posted at&nbsp;<b>2012-12-08</b>
    </div>
    <div class="tags">
        <i class="icon-tags"></i>
        <a href="#" class="btn btn-info btn-mini">asp.net</a>
        <a href="#" class="btn btn-info btn-mini">knockoutjs</a>
        <a href="#" class="btn btn-info btn-mini">backbonejs</a>
        <a href="#" class="btn btn-info btn-mini">javascript</a>
    </div>
    <div class="comments">
        <i class="icon-comment"></i>&nbsp;<b>Comments</b>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>
                        <p>
                            <b>Kwon</b>&nbsp;wrote at&nbsp;<em>2012-12-20 12:30</em>
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>
                            <b>Scott</b>&nbsp;wrote at&nbsp;<em>2012-12-20 12:30</em>
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="write-comment">
        <form>
            <div>
                <input type="text" id="inputName" placeholder="Name">
            </div>
            <div>
                <textarea id="inputComment" rows="10" class="input-block-level" placeholder="Comment here !!"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Post Comment</button>
            </div>
        </form>
    </div>
</section>
