<div id="nav-div" class="navbar-inner">
    <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" style="margin: 0 20px;" href="#">Ray's Blog</a>
        <ul class="nav">
            <li data-bind="setActive:{}"><a href="#"><i class="icon-home"></i>&nbsp;&nbsp;<span data-bind="text: labelHome"></span></a></li>
            <li data-bind="setActive:{}"><a href="#/post/write"><i class="icon-pencil"></i>&nbsp;&nbsp;<span data-bind="text: labelNewPost"></span></a></li>
            <li data-bind="setActive:{}"><a data-bind="attr: {href : '#/post/edit/' + id()}"><i class="icon-edit"></i>&nbsp;&nbsp;<span data-bind="text: labelEditPost"></span></a></li>
            <!--<li data-bind="setActive:{}"><a href="#/chat"><i class="icon-comment"></i>&nbsp;&nbsp;<span data-bind="text: labelChat"></span></a></li>-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-globe"></i>&nbsp;&nbsp;Language<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: useEnglish">English</a></li>
                    <li><a href="#" data-bind="click: useKorean">Korean</a></li>
                </ul>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <div class="navbar-search">
                    <input data-bind="value: searchText, valueUpdate: 'afterkeydown'" type="text" class="search-query" placeholder="Search">
                </div>
            </li>
        </ul>
    </div>
</div>
