<div id="nav-div" class="navbar-inner">
    <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" style="margin: 0 20px;" href="#">Ray's Blog</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li data-bind="setActive:{}">
                    <a href="#"><i class="icon-home"></i>&nbsp;&nbsp;Home</a>
                </li>
                <li class="divider-vertical"></li>
                <li data-bind="setActive:{}"><a href="#/post/write"><i class="icon-pencil"></i>&nbsp;&nbsp;New Post</a></li>
                <li data-bind="setActive:{}"><a href="#/post/edit"><i class="icon-edit"></i>&nbsp;&nbsp;Edit Post</a></li>
                <li data-bind="setActive:{}"><a href="#/chat"><i class="icon-comment"></i>&nbsp;&nbsp;Chat</a></li>
                <li>
                    <div class="navbar-search">
                        <input type="text" class="search-query" placeholder="Search">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
